.encabezado {
    height: 150px;
    width: auto;


}
.LogoISC{
    height: 115px;
    width: auto;
    margin-right: 15px;
   

}

.alineacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: rgb(121, 244, 203);
    height: 160px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.content {
    margin-top: 120px;
    /* Para asegurar que el contenido no quede oculto detrás del header fijo */
    padding: 20px;
}

body {
    background-color: rgb(169, 247, 235);
    margin: 0;
    padding: 0;
}

.portada {
    border: 2px solid black;
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
}

.text {
    font-size: x-large;
    margin-left: 20px;
}
p{
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
    

}

p li{
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;   
}

ul li{
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;   
}

ol li{
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;   
}


.semestre {
    text-decoration: underline;
    text-align: center;
}

.titulo {
    display: flex;
}

.tinom {
    margin-top: 30px;

}

.subtitulo {
    background-color: rgb(142, 243, 243);
    padding: 2%;
    scroll-margin-top: 180px;

}

.bodypng {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ajustePng{
    width: 350px; 
    height: auto;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.ajustePngTemario{
    width: 550px; 
    height: auto;
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.ajustePngInicio{
    width: 50px;
    height: auto;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

footer li{
    text-align: justify;
}
footer a {
    color: rgb(48, 174, 237);
}
footer p{
    text-align: center;
    scroll-margin-top: 180px;
}

#index {
    display: flex;
    flex-direction:column;
    align-items: stretch;
    background-color: #333;
    padding: 50px;
    font-size: x-small;

    margin-left: 78%;
    margin-right: -3%;
    text-align: justify;
    position: fixed;
    top: 165px;
    right: 50px;
    width: 200px;
    height: 448px;
    border: 1px solid #ccc;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;


}

h1 {

    text-align: center;
}
h2{
    text-align: center;
}
h3 {
    color: #fff;
}

.colorIndice {
    color: #fff;
}

#index a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

#index a:hover {
    color: #ff6600;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-right: 307px;
   
}
footer p {
    font-size: x-large;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: list-item;
    margin-right: 10px;
}

footer ul li a {
    color: #ff6600;
}
.arrow-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .arrow {
    margin-left: 4px;
  }

.glosario{
    margin-top: 30px;
    padding: 10px;
   
    position:fixed;
    background-color: #333;
    color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.5);

}
.glosariotxt{
    color: white;
    text-decoration: none;
}
.glosariotxt:hover{
    text-decoration: underline;
}
  



